/* MEDIA Q */
@media (max-width: 576px) { 
    h1.display-3 {font-size: 2.5rem;}
    h1.display-4 {font-size: 2.5rem;}
}


/* COLOR */
.bg-brand {
    background-color: #3CC2BB;
}


/* TYPOGRAPHY */
.text-shadow {
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
}

.text-brand {
    color: #3CC2BB;
}

.text-brand-dark {
    color: #302C48;
}

.text-secondary {
    color: #9795A3;
}

a {
    color: #3CC2BB;
}

/* MISC */
.angle {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.box-shadow {
    box-shadow: 0 16px 24px 0 rgba(15,0,104,0.06);
}

.v-align-middle {
    position:relative;
    transform:translateY(-50%);
    top:50%;
}

.nm {
    margin-top: -4rem;
}


/* BUTTONS */
.btn-primary {
    background-color: #3CC2BB;
    padding: .75em 1.25em;
    border-width: 0px;
    border-radius: 20rem;
    transition: all 0.5s ease;
}

.btn-primary:hover {
    background-color: #28D1AE;
    -webkit-box-shadow: 0px 13px 39px 0px rgba(0,174,239,0.3);
    -moz-box-shadow: 0px 13px 39px 0px rgba(0,174,239,0.3);
    box-shadow: 0px 13px 39px 0px rgba(0,174,239,0.3);
    transition: all 0.5s ease;
}