// H1, H2 Mobile

@media (max-width: 576px) { 
    h1.display-3 {font-size: 2.5rem;}
    h1.display-4 {font-size: 2.5rem;}
}

// BS OVERRIDES

.text-shadow {
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
}

.text-brand {
    color: #3CC2BB;
}

.text-brand-dark {
    color: #302C48;
}

.text-secondary {
    color: #9795A3;
}

a {
    color: #3CC2BB;
}