// BS OVERRIDES

.btn {
    padding: .75rem 1.75rem;
}

.btn-primary {
    background-color: $brand-primary;
    border-width: 0px;
    border-radius: 20rem;
    transition: all 0.5s ease;

    &:hover {
        background-color: #28D1AE;
        -webkit-box-shadow: 0px 13px 39px 0px rgba(0, 174, 239, 0.3);
        -moz-box-shadow: 0px 13px 39px 0px rgba(0, 174, 239, 0.3);
        box-shadow: 0px 13px 39px 0px rgba(0, 174, 239, 0.3);
        transition: all 0.5s ease;
    }
}

.btn-outline-secondary {}

.btn-light {
    background-color: $brand-light;
//    border-width: 1;
//    border-color: $brand-medium;
    background: white;
    border-radius: 20rem;
    color: $brand-dark;

    &:hover {
        background-color: $brand-pink;
//        border-color: $brand-primary;
//        color: $brand-dark;
    }
}

.btn-extension {
    color: $brand-dark;
    border: solid 2px $brand-primary;
    font-size: 1.25rem;
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 5rem;
    
    &:hover {
        color: white;
        background-color: $brand-primary;
    }
}
