// COLOR

.bg-brand {
    background-color: $brand-primary;
}

.text-brand {
    color: $brand-primary;
}

.text-pink {
    color: $brand-pink;
}

.bg-pink {
    background-color: $brand-pink;
}

.bg-brand-light {
    background-color: $brand-light;
}
