
// H1, H2 Mobile

@media (max-width: 576px) { 
    .display-2 {font-size: 3rem;}
    h2 {font-size: 1.5rem;}
    .display-3 {font-size: 2.5rem;}
    .display-4 {font-size: 2.5rem;}
}

// BS OVERRIDES

.text-shadow {
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
}

.text-brand {
    color: $brand-primary;
}

.text-brand-dark {
    color: $brand-dark;
}

.text-secondary {
    color: #9795A3;
}

a {
    color: #3CC2BB;
}

// TYPE ADJUSTMENTS

h5 {
    line-height: 1.75rem;
}

.display-2 {
    font-weight: 900;
}

.display-4 {
    font-weight: 900;
}